<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>767909201554-e9u398caok0st630d830kh7b5figh3mu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.767909201554-e9u398caok0st630d830kh7b5figh3mu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>767909201554-ud4pj41b43jd2aahvlm0qi5ndrapf9le.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOiW7KZneDnnGeTP85PCLRAtxVMZzPsoI</string>
	<key>GCM_SENDER_ID</key>
	<string>767909201554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jasperfernandez.uminom</string>
	<key>PROJECT_ID</key>
	<string>jasperfernandez-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>jasperfernandez-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:767909201554:ios:406baf8f7c7441cf2ec84b</string>
</dict>
</plist>